$red: #f00;
$bgColor: #E0E0E0;

body{
  background-color: $bgColor;
}
.hello{
  color: $red
  }
 .box {
    padding: 30px !important;
    margin-top: 30px !important;
  }
.mainTitle {
    color: #ffffff;
    text-align: center;
  }
.marginTop30 {
  margin-top: 30px;
}
.marginRight10 {
  margin-right: 10px;
}
h1 {
  font-size: 24px !important;
}